In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('total_district.txt',
                 names=['taxi_id','date_time','long','lat','district'])

In [3]:
df.date_time = pd.to_datetime(df.date_time,format = '%Y-%m-%d %X')

In [4]:
df.date_time.head()

0   2008-02-02 15:36:08
1   2008-02-02 15:46:08
2   2008-02-02 15:46:08
3   2008-02-02 15:56:08
4   2008-02-02 16:06:08
Name: date_time, dtype: datetime64[ns]

In [5]:
def day_period(time):
    hour = time.hour
    if(0<=hour<=5 or hour>=23):
        return "Night"
    if(6<=hour<=12):
        return "Morning"
    if(12<hour<=18):
        return "Afternoon"
    if(18<hour<23):
        return "Evening"
    
def is_time_to_eat(time):
    hour = time.hour
    if(6<=hour<=9 or 12<=hour<=14 or 18<=hour<=21):
        return 1 #yes
    else:
        return 0 #no

In [6]:
df['period']=df.date_time.apply(day_period)

In [7]:
df['time_to_eat'] = df.date_time.apply(is_time_to_eat)

In [8]:
df.head()

,taxi_id,date_time,long,lat,district,period,time_to_eat
0,1,2008-02-02 15:36:08,116.51172,39.92123,Chaoyang,Afternoon,0
1,1,2008-02-02 15:46:08,116.51135,39.93883,Chaoyang,Afternoon,0
2,1,2008-02-02 15:46:08,116.51135,39.93883,Chaoyang,Afternoon,0
3,1,2008-02-02 15:56:08,116.51627,39.91034,Chaoyang,Afternoon,0
4,1,2008-02-02 16:06:08,116.47186,39.91248,Chaoyang,Afternoon,0

In [9]:
%%time
df_one_hot = pd.get_dummies(df,columns=['district','period'])

CPU times: user 4.14 s, sys: 652 ms, total: 4.79 s
Wall time: 4.79 s

In [11]:
df_one_hot.head()

,taxi_id,date_time,long,lat,time_to_eat,district_Changping,district_Chaoyang,district_Chongwen,district_Daxing,district_Dongcheng,...,district_Shijingshan,district_Shunyi,district_Tongzhou,district_Xicheng,district_Xuanwu,district_Yanqing,period_Afternoon,period_Evening,period_Morning,period_Night
0,1,2008-02-02 15:36:08,116.51172,39.92123,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,2008-02-02 15:46:08,116.51135,39.93883,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,2008-02-02 15:46:08,116.51135,39.93883,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,2008-02-02 15:56:08,116.51627,39.91034,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,2008-02-02 16:06:08,116.47186,39.91248,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
df_one_hot.columns

Index(['taxi_id', 'date_time', 'long', 'lat', 'time_to_eat',
       'district_Changping', 'district_Chaoyang', 'district_Chongwen',
       'district_Daxing', 'district_Dongcheng', 'district_Fangshan',
       'district_Fengtai', 'district_Haidian', 'district_Huairou',
       'district_Mentougou', 'district_Miyun', 'district_Pinggu',
       'district_Shijingshan', 'district_Shunyi', 'district_Tongzhou',
       'district_Xicheng', 'district_Xuanwu', 'district_Yanqing',
       'period_Afternoon', 'period_Evening', 'period_Morning', 'period_Night'],
      dtype='object')

In [13]:
df_one_hot.to_csv("total_one_hot_encoded.csv",index=None)

In [14]:
df.to_csv("total_period_time_eat.csv",index=None)