In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv('total_district.txt',
                 names=['taxi_id','date_time','long','lat','district'])

In [ ]:
df.date_time = pd.to_datetime(df.date_time,format = '%Y-%m-%d %X')

In [18]:
df.date_time.head()

0   2008-02-02 15:36:08
1   2008-02-02 15:46:08
2   2008-02-02 15:46:08
3   2008-02-02 15:56:08
4   2008-02-02 16:06:08
Name: date_time, dtype: datetime64[ns]

In [ ]:
def day_period(time):
    hour = time.hour
    if(0<=hour<=5 or hour>=23):
        return "Night"
    if(6<hour<=12):
        return "Morning"
    if(12<hour<=18):
        return "Afternoon"
    if(18<hour<23):
        return "Evening"
    
def is_time_to_eat(time):
    hour = time.hour
    if(6<=hour<=9 or 12<=hour<=14 or 18<=hour<=21):
        return 1 #yes
    else:
        return 0 #no

In [53]:
df['period']=df.date_time.apply(day_period)

In [57]:
df['time_to_eat'] = df.date_time.apply(is_time_to_eat)

In [58]:
df.head(1000).tail(6)

,taxi_id,date_time,lat,long,district,period,time_to_eat
994,10,2008-02-02 19:39:33,116.38792,39.88493,Xuanwu,evening,1
995,10,2008-02-02 19:39:37,116.38832,39.88493,Xuanwu,evening,1
996,10,2008-02-02 19:40:11,116.39100,39.88507,Xuanwu,evening,1
997,10,2008-02-02 19:40:57,116.39107,39.88510,Xuanwu,evening,1
998,10,2008-02-02 19:41:17,116.39213,39.88507,Xuanwu,evening,1
999,10,2008-02-02 19:41:38,116.39250,39.88507,Xuanwu,evening,1

In [59]:
X = df.values

In [70]:
le = LabelEncoder()
enc = OneHotEncoder(categorical_features = [5])

In [71]:
X[:,5]=X[:,5].astype(str)

In [72]:
X[:,5] = le.fit_transform(X[:,5])

In [78]:
pd.Series(X[:,5]).value_counts() #0->

2    5958311
4    4089817
3    3349004
0    3155318
1    1110534
dtype: int64

In [ ]:
X_sparse = enc.fit_transform(X)
X = X_sparse.toarray()

In [ ]:
df = pd.DataFrame(X)

In [ ]:
df.head()